<form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="noteTitle">Note title</label>
    <input type="text" class="form-control" id="noteTitle" placeholder="Enter note title" formControlName="title">
  </div>

  <div class="form-group">
    <label for="noteContent">Note content</label>
    <input type="text" class="form-control" id="noteContent" placeholder="Enter note content" formControlName="content">
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
